@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --very-dark-desaturated-blue-text: hsl(238, 29%, 16%);
  --soft-red-text: hsl(14, 88%, 65%);
  --background-soft-violet: hsl(273, 75%, 66%);
  --background-soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-size: 12px;
  background: linear-gradient(
    var(--background-soft-violet),
    var(--background-soft-blue)
  );
  /* background: url("/images") no-repeat left center; */
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-right: 2rem;
  max-width: 1000px;
  margin: auto;
  height: 80vh;
}

#img-container {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  /* width: 100%;
  height: 100%; */
}

.left-img {
  /* width: -50%; */
  height: 800px;
  position: relative;
  transform: translate(-49%, -10%);
  /* left: -50%; */
}

.left-img-women {
  position: absolute;
  transform: translate(-18%, -175%);
}

.illustration-box {
  position: absolute;
  transform: translate(-363%, -50%);
}

#faq-container {
  max-width: 350px;
}
